<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div class="error-explanation well text-danger">
      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group glued">
    <%= f.text_field :name, class: "form-control", placeholder: "Project Name" %>
    <%= f.text_area :description, class: "form-control", placeholder: "Description", size: "24x6" %>
  </div>
  <%= f.submit class: "btn btn-success pull-right" %>
<% end %>
<div class="clearfix"></div>
