<section class="page col-md-12">
  <h1><%= @project.name %> <small class="text-muted">Project</small></h1>
  <p class="text-muted"><em><%= @project.description %></em></p>
  <div class="action-menu">
    <%= link_to new_project_asset_path(@project), class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Asset
    <% end %>
  </div>
  <div class="staged-assets js-masonry" data-masonry-options='{ "columnWidth" : 25%, "itemSelector" :  }'>
    <% @project.assets.staged.each do |asset| %>
      <%= render "assets/asset_widget", project: @project, asset: asset %>
    <% end %>
  </div>
  <div class="collaborators">
    <p class="text-muted">Collaborators</p>
      <% @project.users.each do |user| %>
        <%= image_tag user.gravatar_url(25), title: user.username %>
      <% end %>
      <%= link_to new_project_invitation_path @project do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    </div>

</section>
