<% if comment.out_of_date? %>
  <div class="comment collapsed">
    <p class="text-muted">
      <strong>
        <span class="glyphicon glyphicon-time"></span> &nbsp; <%= comment.commenter.username %>
      </strong>
      commented on an our of date revision.
    </p>
  </div>
<% else %>
  <div class="comment">
    <div class="comment-header">
      <%= image_tag comment.commenter.gravatar_url(40), class: "pull-left" %>
      <p><small class="text-muted">@<%= comment.commenter.username %> commented <%= time_ago_in_words(comment.updated_at) %> ago: </small>
      </div>
    <div class="body"> <%= comment.body.html_safe %> </div>
  </div>
<% end %>

