<%= form_for [@project, @asset] do |f| %>
  <% if @asset.errors.any? %>
    <div class="error_explanation well text-danger">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= f.text_field :name, class: "form-control", placeholder: "Asset Name" %>
  </div>
  <div class="form-group">
    <%= f.check_box :experimental %>
    <strong> Experimental Mode </strong>
    <small class="text-muted">
      Use experimental mode for assets that you want feedback on, but dont want to ship right now.
      You cannot ship experimental assets until you mark them as non-experimental.
    </small>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
