<!DOCTYPE html>
<html>
<head>
  <title>Shipper</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'navigation/menu' %>
  <%= link_to "/", class: "logo" do %>
    <%= image_tag 'shipperd.png' %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  <% if flash[:notice] %>
    <div class="notification">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div class="errors">
      <%= flash[:error] %>
    </div>
  <% end %>
</body>
</html>
